.display-block {
    display: block;
}

#articles-container {
    position: relative;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height:100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.loading-screen-content {
    left: 40%;
    position: fixed;
}

.annotation {
    background-color: #ffff00;
}