<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body data-ng-app="feedreader">

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NodeJS FeedReader</a>
        </div>
    </div>
</div>

<div class="container" data-ng-controller="articleListController">
    <div data-ng-view="">
        <div id="articles-container" data-infinite-scroll="loadMoreArticles()" data-infinite-scroll-distance="1">
            <div data-ng-repeat="article in articles" class="well well-sm">
                <h4>
                    <a href="" data-ng-click="showArticle(article._id)">{{ article.headline }}</a>
                    <span><small>- {{ article.date_published|formatTime }}</small></span>
                </h4>
                <div id="article-summary">
                    {{ article.summary }}
                </div>
            </div>
            <div data-ng-if="isLoadingInline == true">
                <h4><img src="img/spiffygif_32x32.gif"/>Loading</h4>
            </div>
            <div data-ng-if="isLoading == true" id="articles-loading" class="loading-screen">
                <h4 class="loading-screen-content"><img src="img/spiffygif_32x32.gif"/>Loading</h4>
            </div>
        </div>
        <div id="article-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ curArticle.headline }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="article-toolbar">
                                    <button id="annotate-btn" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <div id="annotation-input" class="popover fade right in" style="display:none">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Add Annotation</h3>
                                        <div class="popover-content">
                                            <input id="annotation-text" type="text" data-ng-model="annotationInput" class="form-control"/>
                                            <br/>
                                            <div class="pull-right">
                                                <button data-ng-class="{disabled:!annotationInput}" data-ng-click="saveAnnotation()" id="add-annotation-btn" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-check"></span></button>
                                                <button id="close-annotation-btn" data-ng-click="annotationInput=''" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="annotation-container" style="display:none" class="well well-sm">
                                        <div id="annotation-content">
                                            {{ annotation.text }}
                                        </div>
                                    </div>
                        </div> <!-- /#article-toolbar -->
                        <div id="article-content">

                        </div> <!-- /# article-content -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/ng-infinite-scroll.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/rangy-core.js"></script>
<script src="js/rangy-serializer.js"></script>
<script src="js/rangy-cssclassapplier.js"></script>
<script src="js/rangy-selectionsaverestore.js"></script>
<script src="js/annotations.js"></script>
<script src="js/main.js"></script>
<!--<script src=bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
</body>
</html>
